* {
    box-sizing: border-box;
}

body, h2, p, ul {
    margin:0;
}

a {
    text-decoration: none;
    color:inherit;
}

.page-wrapper {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:white;
    background-color: #e63432;
    height:100%;
}

.page-wrapper > * {
    width:80%;
    margin: 0 auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5em 0;
}

.logo {
    width:100px;
    height:100px;
    border-radius: 50%;
    overflow: hidden;
}

.logo img {
    width:100%;    
}

.menubar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    column-gap: 2em;
}

.menubar ul li a:hover {
    color:#ddd;
}

.main-content {
    display: flex;
    margin-top:5em;
    column-gap: 5em;
}

.intro {
    flex:1;
}

.intro h2 {
    font-size:4.5em;
    font-weight: 300;
    letter-spacing: 0.02em;
}

.intro h2 span {
    font-weight: 700;
}

.intro p {
    font-weight: 300;
    margin:2em 0;
    letter-spacing: 0.04em;
}

.order-btn {
    display: block;
    padding:1em 2.5em;
    background-color: white;
    color:#e63432;
    width:fit-content;
    border-radius: 45px;
    box-shadow:4px 4px 3px 1px rgb(0 0 0 / 50%);
}
.order-btn:hover {
    background-color: rgb(240, 234, 234);
}

.order-btn:active {
    box-shadow:1px 1px 3px 1px rgb(0 0 0 / 50%);
}

.kfc-meals-images {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.food-image {
    width:70%;
    height:100%;
    overflow: hidden;
}

.food-image img {
    width:100%;
}

.image-changer {
    margin-top:2em;
}

.tag-line {
    display: flex;
    align-items: center;
    margin:1em 0;
}

.tag-line > div:first-child {
    height:2px;
    width:50px;
    background-color: white;
}

.tag-line > div:last-child {
    margin-left:1em;
}

.image-controls {
    text-align: right;
}

.image-controls a {
    display: inline-block;
    padding: 0.7em 1em;
    border:2px solid white;
}
.image-controls a:hover {
    color:#e63432;
    background-color: white;
}
.image-controls a:first-child {
    margin-right:1.2em;
}